header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;

    .clipboard-main-content {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .img-computer-content {
        display: flex;
        align-items: center;
        margin: 10rem 0;

        img {
            width: 50%;
            justify-content: flex-start;
            transform: translateX(-5%);
        }

        .img-computer-content-text {
            width: 25%;
            padding-left: 10rem;
        }
    }

    .img-devices-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
            margin: 5rem 0;
            width: 50%;
        }
    }

    .clipboard-main-workflow-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .workflow-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15rem;

            .workflow-list-item {
                display: flex;
                flex-direction: column;
                align-items: center;

                .workflow-icon {
                    width: 5rem;
                }
            }
        }
    }

    .workflow-sponsor-logos-body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 12.5rem;
            height: max-content;
        }
    }

    .clipboard-for {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

footer {
    background-color: rgb(245, 245, 245);
    padding: 5rem 0;

    img {
        width: 7.5rem !important;
        margin-right: 10rem;
    }

    .footer-container {
        display: flex;
        align-items: center;

        .footer-menu {
            width: 100%;
        }

        .social-icons {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
}