* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 2.35rem;
}

p {
    color: $very-dark-cyan;
    font-size: 1.6rem;
}

i {
    color: #fff;
}